/* Estilos gerais do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

/* Estilos para o container do formulário */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para o título */
h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centraliza o formulário */
}

/* Estilos para os rótulos */
label {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

/* Estilos para os campos de seleção */
select {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;  /* Tamanho reduzido do campo de seleção */
    margin: 0 auto;  /* Centraliza o campo de seleção */
}

/* Estilos para o botão de envio */
button {
    padding: 8px;  /* Tamanho reduzido */
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;  /* Tamanho menor */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    width: 120px;  /* Tamanho reduzido do botão */
    margin: 0 auto;  /* Centraliza o botão */
}

button:hover {
    background-color: #218838;
}

/* Estilos para a exibição dos resultados */
.results {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}
